.container {
    justify-content: center;
    display: flex;
    place-items: center;
    height: 90vh;
}

.fa-heart {
    font-size: 80px;
    color: red;
    animation: heart 0.5s ease-in-out infinite alternate-reverse;
}

@keyframes heart {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.50;
    }
}